# Default ignored files
/shelf/
/workspace.xml
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Byte
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Char
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Double
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Float
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Int
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Long
C:\Users\Vinícius Pelizzari\Desktop\Tipo_de_dados\src\Short
